#root {
  margin: 0 auto;
}
h3 {
  font-size: 1.3rem;
}
.quote-generator-table-wrapper {
  padding: 15px;
}
.service-row-head {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  padding: 0 15px;
}
.rows-container-heading {
  margin-bottom: 0;
  padding-bottom: 10px;
  margin-top: 10px;
  padding-left: 15px;
}
.link-building-services {
  padding-left: 0;
  margin-top: -6px;
}
.service-row-head p {
  font-weight: bold;
  margin-bottom: 0px;
}
.ultra-head p {
  margin: 0px;
}
.rows-container {
  margin-top: 5px;
  border: 1px solid rgb(230, 230, 230);
  padding: 15px;
  border-radius: 5px;
}
.service-row {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
}
.ultra-premium-head {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin: 1rem 15px;
  position: relative;
  z-index: 10;
}
.ultra-premium-wrapper {
  margin-top: -45px;
  z-index: 1;
}
.ultra-premium-row {
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.7fr 0.25fr 0.25fr 0.5fr 1fr;
  column-gap: 2rem;
}
.ultra-head {
  font-weight: bold;
  padding: 0 15px;
}
.ultra-premium-toggle {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}
.service-row-foot {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
}
.bold {
  font-weight: bold;
}
#ultra-premium {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  margin: 0;
}
#ultra-premium-star {
  cursor: pointer;
}
#ultra-premium-star path:hover {
  stroke: #fa9018;
}
.show-ultra {
  fill: #faad18;
}
.show-ultra:hover {
  fill: #fa9018;
}
.calculator-input {
  border: none;
  max-width: 75px;
  outline: none;
  padding: 15px;
  margin-bottom: 5px;
}
.calculator-input {
  background-color: rgb(250, 250, 250);
}
.calculator-input:hover {
  background-color: rgb(240, 240, 240);
}
.quote-generator-foot {
  margin-top: 15px;
}
